@import url(common.css);

.m_img {
    position:relative;
    height: 200px;
    background-image: url(../img/accommodation/acco_main.jpg);
}

.m_img h1 {
    bottom:0;
    position:absolute;
    font-size: 60px;
    color: #10456b;
    font-family: 'SangSangRock';
    padding:0;
    width: 100px;
}

.map {
    margin-top: 10px;
margin-left:89%;
}

.map a {
    text-align: right;
    font-size: 15px;
    margin: 10px 10px 0 0;
}

.map a:after {
    content: '>';
    display: inline-block;
    margin: 0 3px;
}
.map a:last-child:after
{display: none;
}

.turn {margin: 15px;}

.turn a {font-size:20px;
margin-right:30px;}

/*=============본문*/
.acco {}

.acco ul {}

.acco ul li {
    margin-bottom:50px;
    width: 1280px;
    height: 251px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;

}

.acco ul li .i_hotel {}

.acco ul li .i_hotel p {
    position:relative;
    box-sizing: border-box;
    width: 417px;
    height: 250px;
    background: url(../img/accommodation/para.jpg) center no-repeat;
}


.acco ul li:nth-of-type(2) .i_hotel p
{background: url(../img/accommodation/hilton.jpg) center no-repeat;}

.acco ul li:nth-of-type(3) .i_hotel p
{background: url(../img/accommodation/sig.jpg) center no-repeat;}

.acco ul li:nth-of-type(4) .i_hotel p
{background: url(../img/accommodation/stay.jpg) center no-repeat;}

.acco ul li .i_hotel p a{
    margin:0;
    border-radius: 100%;
    width:30px; height:30px;
    background: url(../img/common/sub_none.png) center no-repeat;
    background-color: rgba(255,255,255,0.6);
    position:absolute;
    right:3%; bottom:3%;
    transition:0.1s;
    }
.acco ul li .i_hotel p a:hover{
    background-image: url(../img/common/sub.png);
}



.acco ul li .hotel_l_01 {
    width:30%;
    white-space: pre-line;
    padding-left: 50px; 
    margin:0;
}

.acco ul li .hotel_l_01 strong {
    font-size: 20px;
    font-weight: bold;
}

.acco ul li .hotel_l_01 p {
    font-size: 15px;
    padding-top: 20px;
}

.acco ul li .hotel_l_01 a {
    font-size: 15px;
}

.acco ul li .hotel_l_02 {
    width:30%;
    padding-left:50px;
}

.acco ul li .hotel_l_02 svg{
    padding-bottom: 20px;
}

.acco ul li .hotel_l_02 a {}

.acco ul li .hotel_l_02 a p {
    padding: 15px 50px 15px 50px;
    background-image: url(../img/common/quote.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 35px;
}

.w1280 .paging{
    
    margin: 0px auto;
    margin-bottom: 100px;
    text-align: center;
}
.w1280 .paging a{}

.w1280 .paging a:hover{
font-weight:bold;    
}


