html,
body {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
    font-family: Bahnschrift;
    font-size: 20px;
}

a {
    text-decoration:none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

main .cont p{
    color: #fff;
}

/*====font=====*/

.color_#fff{
    color:#fff;
}