@import url(common.css);


h1{
    font-size: 30px;
}

.detail{
    width: 100%;
    border: 1px solid #777;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.detail-text{
    position: relative;
}

.detail-text > svg{
    margin: 5px 0 20px 0;
}
.detail-text h1{
    font-weight: bold;
}

.detail-text > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background: url(../img/common/sub_none.png) center no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: -45px;
}

.detail-text p{
    white-space: pre-line;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.4;
}
.detail-text p strong{
    font-size: 20px;
}
.detail-text span{
    display: block;
    width: 170px;
    font-weight: bold;
    margin-bottom: 30px;
}
.detail-text span svg{
    float:right;
}



.detail-image{
    width: 924px;
    display: grid;
    grid-template-rows: repeat(2, 277px);
    grid-template-columns: repeat(3, 304px);
    grid-gap: 6px 6px;
    position: relative;
}

.detail-image:before{
    content: '';
    display: inline-block;
    height: 560px;
    width: 1px;
    background: #ccc;
    position: absolute;
    left: -20px;
}

.detail-image div{
    /* border: 1px solid #777; */
}

.detail-image div:nth-of-type(1){
    grid-column: 1 / 3;
    background: url(../img/detail_02/title_image01.jpg) top no-repeat;
}

.detail-image div:nth-of-type(2){
    background: url(../img/detail_02/title_image02.jpg) center no-repeat;
}

.detail-image div:nth-of-type(3){
    background: url(../img/detail_02/title_image03.jpg) center no-repeat;
}

.detail-image div:nth-of-type(4){
    background: url(../img/detail_02/title_image04.jpg) center no-repeat;
}
.detail-image div:nth-of-type(5){
    background: url(../img/detail_02/title_image05.jpg) center no-repeat;
    position: relative;
    overflow: hidden;
}

.detail-image div:nth-of-type(5) a{
    color: #fff;
    font-weight: bold;
    position: absolute;
    background: rgba(0,0,0,0.5);
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 150px 0 150px 0;
    text-align: center;
}

.detail-image div:nth-of-type(5) a code{
    font-weight: bold;
}


/*==========quick==========*/
.group > p {
    text-align: right;
    font-size: 15px;
    margin: 10px 10px 30px 0;
}

.group > p a:after {
    content: '>';
    display: inline-block;
    margin: 0 10px;
}

.group > p a:last-child:after {
    display: none;
}

/*============review-left===============*/

.detail-review{
    width: 100%;
    border: 1px solid #777;
    padding: 20px;
    margin-bottom: 50px;
}

.detail-review:after{
    content: '';
    display: block;
    clear: both;
}

.detail-review h1{
    margin-bottom: 30px;
}
.detail-review ul{
    width: 610px;
    float: left
}
    
.detail-review ul li{
    width: 100%;
    border: 1px solid #999;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.detail-review ul li > a{
    margin-right: 20px;
}
.text{}
.text h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.text > span{
    font-size: 14px;
}
.text > span a{
    font-size: 16px;
    font-weight: bold;
}
.text p:nth-of-type(1){
    margin: 5px 0 10px 0;
}
.text p:nth-of-type(1) span{}
.text p:nth-of-type(2){
    white-space: pre-line;
    line-height: 1.5;
    margin-bottom: 20px;
}
.text > div{
    width: 100%;
    height: 60px;
}
.text > div a{
    display: inline-block;
    width: 100px;
    height: 100%;
    margin-right: 2px;
}


/*=================review-image=================*/

.detail-review ul li:nth-of-type(1) .text > div a:nth-of-type(1){
    background: url(../img/detail_02/review1-1.jpg) center no-repeat;
}
.detail-review ul li:nth-of-type(1) .text > div a:nth-of-type(2){
    background: url(../img/detail_02/review1-2.jpg) center no-repeat;
}
.detail-review ul li:nth-of-type(1) .text > div a:nth-of-type(3){}
.detail-review ul li:nth-of-type(1) .text > div a:nth-of-type(4){}




.detail-review ul li:nth-of-type(2) .text > div a:nth-of-type(1){
    background: url(../img/detail_02/review2-1.jpg) center no-repeat;
}
.detail-review ul li:nth-of-type(2) .text > div a:nth-of-type(2){
    background: url(../img/detail_02/review2-2.jpg) center no-repeat;
}
.detail-review ul li:nth-of-type(2) .text > div a:nth-of-type(3){}
.detail-review ul li:nth-of-type(2) .text > div a:nth-of-type(4){}




.detail-review ul li:nth-of-type(3) .text > div a:nth-of-type(1){
    background: url(../img/detail_02/review3-1.jpg) center no-repeat;
}
.detail-review ul li:nth-of-type(3) .text > div a:nth-of-type(2){
    background: url(../img/detail_02/review3-2.jpg) center no-repeat;
}
.detail-review ul li:nth-of-type(3) .text > div a:nth-of-type(3){}
.detail-review ul li:nth-of-type(3) .text > div a:nth-of-type(4){}

/*====================review-page======================*/

.detail-review ul > span{
    width: 305px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 20px auto 0 auto;

}

.detail-review ul > span a:first-child,
.detail-review ul > span a:last-child{
    width: 10px;
    height: 30px;
    display: inline-block;
/*    vertical-align: middle;*/
}

.detail-review ul > span a:first-child{
    background: url(../img/common/left_arrow.png) no-repeat;
}

.detail-review ul > span a:last-child{
    background: url(../img/common/right_arrow.png) no-repeat;
}


/*===============my-review======================*/
.my-review{
    display: flex;
    width: 610px;
    float: right;
    padding: 20px;
    border: 1px solid #999;
}
.my-review > a{
    margin-right: 20px;
}

.text-area{
    width: 420px;
}

.text-02 p:nth-of-type(1){
    margin: 5px 0 10px 0;
}

.text-02 > span{
    font-size: 14px;
}

.text-02 > span a{
    font-size: 16px;
    font-weight: bold;
}

input,textarea{
    padding: 0;
    margin: 0;
    outline: none;
}

.text-area input[type="text"]{
    width: 420px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 0;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.text-area textarea{
    width: 420px;
    height: 300px;
    padding: 10px;
    font-size: 14px;
    resize: none;
    border-radius: 0;
    border-color: #999;
}

.text-area label:before{
    content: '+';
    display: inline-block;
}

.text-area label{
    display: block;
    margin: 30px 0 5px 0;
    text-decoration: underline rgba(100,100,100,0.5);
    font: 14px 'NEXON Lv1 Gothic OTF Light';
}

.text-area input[type="file"]{
    display: none;
}

.text-area > div{
    width: 420px;
    height: 100px;
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 10px;

    background: url("../img/detail_02/image+.png") 10px 10px no-repeat;
}

.text-area input[type="submit"]{
    display: block;
    border: none;
    background: #406a89;
    width: 80px; height: 40px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto;
}



/* ===============other-fav=========================== */

.other-fav{
    margin-bottom: 100px;
}

.other-res h1{
    margin-bottom:20px;
}

.other-res h1 a{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: underline;
    color: #666;
}

.other-fav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.other-fav ul li {
    border: 1px solid #777;
    width: 305px;
    height: 350px;
    cursor: pointer;
}

.other-fav ul li div {
    width: 100%;
    height: 225px;
    border-bottom: 1px solid #777;
    background: url(../img/detail_02/other_fav01.jpg) center no-repeat;
    position: relative;
}

.other-fav ul li:nth-of-type(2) div {
    background: url(../img/detail_02/other_fav02.jpg) center no-repeat;
}

.other-fav ul li:nth-of-type(3) div {
    background: url(../img/detail_02/other_fav03.jpg) center no-repeat;
}

.other-fav ul li:nth-of-type(4) div {
    background: url(../img/detail_02/other_fav04.jpg) center no-repeat;
}

.other-fav ul li div a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../img/detail_02/popular_sub.png) center no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.other-fav ul li p {
    white-space: pre-line;
    font-size: 16px;
    padding: 10px;

    line-height: 1.2;
}

.other-fav ul li p svg {
    margin: 5px 0 10px 0;
}

.other-fav ul li p strong {
    font-size: 20px;
}