@import url('common.css');




.my_profile_po {}

.my_profile_po .m_img {

    height: 200px;
}

.my_profile_po .m_img img {
    width: 100%;
}

.my_profile_po .me {
    background-color: #fff;
    position: relative;
    top: -25px;
    left: calc(854px - 50%);
    border: 1px solid #cccccc;
    width: 854px;
    height: 250px;
}

.my_profile_po .me .my_profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_profile_po .me .my_profile p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 43px 65px;
}

.my_profile_po .me .my_profile p img {
    display: block;
    width: 80px;
    height: 80px;
}


.my_profile_po .me .my_tab {
    width: 854px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cccccc;
}

.my_profile_po .me .my_tab a {
    display: inline-block;
    font-size: 16px;
    padding: 0 100px;
    position: relative;
}

.my_profile_po .me .my_tab a:nth-of-type(2):before {
    content: '';
    background: #cccccc;
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    width: 1px;
    height: 40px;
    display: inline-block;
}

.my_profile_po .me .my_tab a:nth-of-type(2):after {
    content: '';
    background: #cccccc;
    position: absolute;
    top: calc(50% - 20px);
    right: 0;
    width: 1px;
    height: 40px;
    display: inline-block;
}

.my_profile_po .me .my_tab a:hover {
    font-weight: bold;
}



/**/
.w1280 .mine {}

.w1280 .mine h2 {
    font-size: 24px;
    margin: 50px 0;
}

.w1280 .mine .mytrip {}


.w1280 .mine .mytrip .trip_tab {
    font-size: 0;
}


.w1280 .mine .mytrip .trip_tab a {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 0;
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
    width: 210px;
}

.w1280 .mine .mytrip .trip_tab a.active {
    font-weight: bold;
    background: rgba(208, 235, 255, 0.5);
    border: none;
}

.w1280 .mine .mytrip .t_list {
    border: 1px solid #000;
    padding: 40px;
}

.w1280 .mine .mytrip .t_list.active {
    font-weight: bold;
    background: rgba(208, 235, 255, 0.5);
    border: none;
}



.w1280 .mine .mytrip .t_list h3 {
    font-size: 25px;
    font-weight: bold;
}


.w1280 .mine .mytrip .t_list ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 30px 50px 50px 50px;
}

.w1280 .mine .mytrip .t_list ul li {
    border: 1px solid #777;
    width: 225px;
    height: 230px;
    position: relative;
    background-color: #fff;
}

/*숙박*/
.w1280 .mine .mytrip .t_list ul li .my_i {
    width: 100%;
    height: 130px;
    background: url(../img/mypage/acco_para.jpg) center no-repeat;
    position: relative;
}

.w1280 .mine .mytrip .t_list ul li:nth-of-type(2) .my_i {
    background-image: url(../img/mypage/acco_hilton.jpg);
}

.w1280 .mine .mytrip .t_list ul li:nth-of-type(3) .my_i {
    background-image: url(../img/mypage/acco_sig.jpg);
}

.w1280 .mine .mytrip .t_list ul li:nth-of-type(4) .my_i {
    background-image: url(../img/mypage/acco_stay.jpg);
}

/*즐길거리*/
.w1280 .mine .mytrip .t_list ul:nth-of-type(2) li:nth-of-type(1) .my_i {
    background-image: url(../img/mypage/enter_bri.jpg);
}

.w1280 .mine .mytrip .t_list ul:nth-of-type(2) li:nth-of-type(2) .my_i {
    background-image: url(../img/mypage/enter_hae.jpg);
}

.w1280 .mine .mytrip .t_list ul:nth-of-type(2) li:nth-of-type(3) .my_i {
    background-image: url(../img/mypage/enter_tae.jpg);
}

.w1280 .mine .mytrip .t_list ul:nth-of-type(2) li:nth-of-type(4) .my_i {
    background-image: url(../img/mypage/enter_cablecar.jpg);
}

/*음식점*/
.w1280 .mine .mytrip .t_list ul:nth-of-type(3) li:nth-of-type(1) .my_i {
    background-image: url(../img/mypage/res_01.jpg);
}

.w1280 .mine .mytrip .t_list ul:nth-of-type(3) li:nth-of-type(2) .my_i {
    background-image: url(../img/mypage/res_02.jpg);
}

.w1280 .mine .mytrip .t_list ul:nth-of-type(3) li:nth-of-type(3) .my_i {
    background-image: url(../img/mypage/res_03.jpg);
}

.w1280 .mine .mytrip .t_list ul:nth-of-type(3) li:nth-of-type(1) .my_i {
    background-image: url(../img/mypage/res_04.jpg);
}

.w1280 .mine .mytrip .t_list ul li .my_i p {}

.w1280 .mine .mytrip .t_list ul li .my_i p a {}


.w1280 .mine .mytrip .t_list ul li .my_l {
    padding: 10px;

}


.w1280 .mine .mytrip .t_list ul li .my_l p {
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.2;
}

.w1280 .mine .mytrip .t_list ul li .my_l p strong {
    font-size: 16px;
}

.w1280 .mine .mytrip .t_list ul li .my_l a {
    text-decoration: underline;
    font-size: 10px;
    bottom: 5px;
    right: 10px;
    position: absolute;
}

.w1280 .mine .mytrip .t_list ul a {
    position: absolute;
    text-decoration: underline;
    font-size: 12px;
    bottom: -20px;
    right: 0;
}



/*=========나의 리뷰=========*/

.mine .myreview {}

.mine .myreview ul {
    display: flex;
    flex-wrap: wrap;


}


.mine .myreview ul li {
    margin-right: 50px;
    margin-bottom: 50px;
    width: 610px;
    border: 1px solid #999;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.mine .myreview ul li:nth-of-type(2n) {
    margin-right: 0;
}

.myreview ul li > a {
    margin-right: 20px;
}

.text {}

.text h3 {
    font-size: 20px;
    margin:20px auto;
    }

.text > span {
    font-size: 14px;
}

.text > span a {
    font-size: 16px;
    font-weight: bold;
}

.text p:nth-of-type(1) {
    margin: 5px 0 10px 0;
}

.text p:nth-of-type(1) span {}

.text p:nth-of-type(2) {
    white-space: pre-line;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text div {
    width: 321px;
    height: 108px;
    display: flex;
    justify-content: space-between;

}

.text div a {
    background: url(../img/mypage/review01.jpg) no-repeat;
}

li:nth-of-type(2) .text div a {
    background: url(../img/mypage/review02.jpg) no-repeat;
}

li:nth-of-type(3) .text div a {
    background: url(../img/mypage/review03.jpg) no-repeat;
}

li:nth-of-type(4) .text div a {
    background: url(../img/mypage/review04.jpg) no-repeat;
}




.text > div a {
    border: 1px solid #000;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;

}

.text > div a {}

.text > div a p {
    width: 160px;
    padding-left: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    white-space: pre-line;
}
